<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <title>Home</title>
  </head>
  <body>
    <p id="message"></p>

    <div id="advert-container"></div>

    <script>
      const message = document.getElementById("message");
      const advertContainer = document.getElementById("advert-container");

      document.addEventListener("click", async (event) => {
        if (event.target.id.startsWith("delete-advert-button-")) {
          const id = parseInt(event.target.id.split("-").pop());

          const query = `
            mutation {
            deleteAdvert(input: {id: "${id}"})}
            `;

          const response = await fetch("/graphql", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: localStorage.getItem("token") || "",
            },
            body: JSON.stringify({ query }),
          }).then((res) => res.json());

          if (response.data?.deleteAdvert) {
            adverts = adverts.filter((advert) => advert.id !== id);
            renderAdverts();
          }

          message.textContent = response.data?.deleteAdvert
            ? "Advert deleted success"
            : "Advert delete failed";
        }
      });

      var adverts = [];

      function renderAdverts() {
        advertContainer.innerHTML = adverts.map(
          (
            advert
          ) => `<div key="${advert.id}" style="display: flex; flex-direction: column; align-items: start; border: 1px solid #d1cece; padding: 10px; border-radius: 12px;">
            <h2>${advert.title}</h2>
            <p>${advert.description}</p>
            <p>Price - ${advert.price}</p>
            <button style="background-color: blue; border: none; border-radius: 12px; color: white;" id="delete-advert-button-${advert.id}">Delete Advert</button>
            </div>`
        );
      }

      async function fetchData() {
        const query = `
        query { currentUser { id username email roles } adverts {id title description price} }
        `;

        const response = await fetch("/graphql", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: localStorage.getItem("token") || "",
          },
          body: JSON.stringify({ query }),
        }).then((res) => res.json());

        message.textContent = response.data?.currentUser
          ? `Hello ${response.data.currentUser.username}`
          : "You need to login first";

        if (response.data?.adverts?.length) {
          adverts = response.data.adverts;
          renderAdverts();
        }
      }

      fetchData();
    </script>
  </body>
</html>
